{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Mario Clase hbs</h1>
    </div>
    </br>
    <div class="col-4">
        <img src="https://s3.amazonaws.com/bucket.mario.fotos/fotmacp1.jpg" class="img-thumbnail">
    </div>


</div>



{{> footer }}